@import url(../../App.css);

#coordinateMain {
  position: absolute;
  top: 22%;
  left: calc(50vw - 125px);
  z-index: 2;

  padding: 1em;
  width: 250px;
  background: var(--white);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;

  color: var(--veryDarkGray);
}

#coordinateMain p {
  margin: 20px 0 5px 0;
  font-size: var(--p);
  color: var(--darkGray);
  letter-spacing: 0.075em;
  line-height: 0.75em;
}

#coordinateMain h3 {
  margin: 0;
  font-size: var(--h3);
  letter-spacing: 0.04em;
  font-weight: var(--bold);
}
