:root {
  /* colors */
  --white: #fff;
  --black: #000;
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);

  /* sizes */
  --p: 10px;
  --h3: 16px;
  --h1: 22px;

  /* weights */
  --thin: 400;
  --reg: 500;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* outline: 1px solid red; */
}

*::selection {
  background: #fd8775;
  color: #f1f1f1;
}

*:focus {
  outline: hsl(0, 0%, 87%);
  outline-offset: 3px;
  outline-width: 0 0 0 3px;
  outline-style: solid;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;

  min-height: 100vh;
}

.AppWrap {
  position: relative;

  display: grid;
  grid-template: 249px calc(100vh - 249px) / 1fr 375px 1fr;
  grid-template-areas:
    ". a ."
    ". b .";
}
